<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>ForceSSL</filter-name>
        <filter-class>filters.ForceSSL</filter-class>
        <init-param>
            <param-name>sslport</param-name>
            <param-value>8181</param-value>
        </init-param>
        </filter>
    <filter>
        <filter-name>ForceClear</filter-name>
        <filter-class>filters.ForceClear</filter-class>
        <init-param>
            <param-name>sslport</param-name>
            <param-value>8181</param-value>
        </init-param>
        </filter>
    <filter><filter-name>CheckUser</filter-name><filter-class>filters.CheckUser</filter-class></filter>
    <filter>
        <filter-name>CheckMod</filter-name>
        <filter-class>filters.CheckMod</filter-class>
    </filter>
    <filter>
        <filter-name>CheckAdmin</filter-name>
        <filter-class>filters.CheckAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckAdmin</filter-name>
        <url-pattern>/web/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckMod</filter-name>
        <url-pattern>/web/mod/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckUser</filter-name>
        <url-pattern>/web/user/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForceClear</filter-name>
        <url-pattern>/web/guest/clear/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForceSSL</filter-name>
        <url-pattern>/web/guest/ssl/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForceSSL</filter-name>
        <url-pattern>/actions/login</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForceSSL</filter-name>
        <url-pattern>/actions/signup</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForceSSL</filter-name>
        <url-pattern>/actions/editprofile</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForceSSL</filter-name>
        <url-pattern>/web/user/ssl/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForceClear</filter-name>
        <url-pattern>/web/user/clear/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForceClear</filter-name>
        <url-pattern>/web/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>listeners.SessionListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionAttributeListener</description>
        <listener-class>listeners.SessionAttributeListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.ContextListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextAttributeListener</description>
        <listener-class>listeners.ContextAttributeListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    <jsp-config>
        <jsp-property-group>            
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
            </jsp-property-group>
        </jsp-config>
    <ejb-ref>
        <ejb-ref-name>ejb/UserFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.UserFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ActivityFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.ActivityFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/AdminFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.AdminFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/BannedUserFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.BannedUserFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/BlockedShoutsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.BlockedShoutsFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CategoryFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.CategoryFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ChannelFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.ChannelFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CommentFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.CommentFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CommentReportFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.CommentReportFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/FavoriteFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.FavoriteFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/FriendsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.FriendsFacadeRemote</remote>
    </ejb-ref>
    
    <ejb-ref>
        <ejb-ref-name>ejb/IMServiceFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.IMServiceFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/KeywordURLFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.KeywordURLFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ModeratorActionCommentFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.ModeratorActionCommentFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ModeratorActionURLtFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.ModeratorActionURLFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ModeratorFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.ModeratorFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ShoutsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.ShoutsFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/URLFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.URLFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/URLReportFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.URLReportFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/UserChosenCategoryFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.UserChosenCategoryFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/UserIMDetailFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.UserIMDetailFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/UserLinkFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.UserLinkFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/UserPreferenceFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.UserPreferenceFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/UserPrivacyFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.UserPrivacyFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/VisibilityValidationFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.VisibilityValidationFacadeRemote</remote>
    </ejb-ref>

    <ejb-ref>
        <ejb-ref-name>ejb/URLDetailFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.URLDetailFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/KeywordActivityFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home/>
        <remote>ejb.KeywordActivityFacadeRemote</remote>
    </ejb-ref>
    </web-app>
